<h2 mat-dialog-title class="text-center font-weight-bold">Удаление адреса</h2>
<mat-dialog-content>
  <p class="text-center">Абонентский узел {{ data.nodeName }} будет удален</p>
  <p class="text-center text-danger font-weight-bold mb-0">Внимание!</p>
  <p class="text-center text-danger mb-0">Будут удалены также все связанные узлы!</p>
  <p class="text-center text-danger">Отменить удаление будет невозможно!</p>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-center">
  <button
    mat-raised-button
    mat-dialog-close>Отменить</button>
  <button
    mat-raised-button
    color="disabled"
    [mat-dialog-close]="true">Удалить</button>
</mat-dialog-actions>
